name: Aria2
services:
  aria2:
    image: johngong/aria2:latest
    container_name: Aria2
    deploy:
      resources:
        reservations:
          memory: 64M
    restart: unless-stopped
    network_mode: bridge
    ports:
      - "6881:6881"
      - "6881:6881/udp"
      - "6800:6800"
      - "6880:8080"
    environment:
      - ARIA2_RPC_SECRET=token
      - ARIA2_RPC_LISTEN_PORT=6800
      - ARIA2_LISTEN_PORT=6881
      - UID=1000
      - GID=1000
      - UMASK=022
    volumes:
      - /DATA/AppData/aria2/config:/config
      - /DATA/Downloads:/Downloads

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: yassinyl
  category: Yassinyl
  description:
    en_us: Aria2 is a lightweight multi-protocol & multi-source command-line download utility. It supports HTTP/HTTPS, FTP, SFTP, BitTorrent, and Metalink.
  developer: johngong
  icon: https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/Aria2/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/Aria2/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/Aria2/screenshot-2.png
  thumbnail: https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/aria2/thumbnail.png
  main: Aria2
  tagline:
    en_us: The lightweight multi-protocol & multi-source command-line download utility
  tips:
    before_install:
      en_us: |
        Aria2 itself is a download kernel with no admin panel. This application integrates with WebUI [AriaNg](http://ariang.mayswind.net) for graphical management, but you still **need to set up the AriaNg connection information manually** after installation:

        | Environment | Default | Description |
        | --- | --- | --- |
        | ARIA2_RPC_SECRET | `token` | RPC SecretKey |
        | ARIA2_RPC_LISTEN_PORT | `6800` | RPC Port |

        Alternatively, you can use a mobile app to connect to the management, e.g. [Aria2App](https://github.com/devgianlu/Aria2App).

        **NOTE**: Changes to Aria2 settings using the third-party panel will only be saved for that sub-process, and will not modify the configuration file; if permanently modified, you should manually modify the Aria2 configuration file.
  title:
    en_us: Aria2
  scheme: http
  hostname: ""
  port_map: "6880"
  index: "/#!/downloading"
