name: motioneyebeta
services:
  motioneye:
    image: kuntho/motioneye:latest
    container_name: motioneye
    network_mode: bridge
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          memory: "64M"
    ports:
      - "8765:8765"
      - "8081:8081"
    environment:
      - TZ=Africa/Tunis
      - UID=1000
      - GID=1000
    volumes:
      - /DATA/AppData/motioneye/etc_motioneye:/etc/motioneye
      - /DATA/AppData/motioneye/var_lib_motioneye:/var/lib/motioneye
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1

x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  author: yassinyl
  developer: ccrisan
  category: Casa7014
  description:
    en_us: |
      MotionEye is an open-source video surveillance application that manages webcams easily with a graphical interface.
  icon: https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/icon.png
  screenshot_link:
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/screenshot-1.png
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/screenshot-2.png
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/screenshot-3.png
    - https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/screenshot-4.png
  thumbnail: https://cdn.jsdelivr.net/gh/yassinyl/casa7014@refs/heads/main/Apps/motioneye%20beta/icon.png
  main: motioneye
  tagline:
    en_us: "Video surveillance for your cameras"
  title:
    en_us: MotionEye Beta
  store_app_id: MotionEye Beta
  scheme: http
  hostname: ""
  port_map: "8765"
  index: "/"
  tips:
    before_install:
      en_us: |
        MotionEye requires a webcam or IP camera to be connected to function properly. 
        After installation, access the web interface at: 
        http://<your_server_ip>:8765
